!!! 5
html
  head
    link(rel="stylesheet", href="css/bootstrap.min.css")

    script#new_item_template(type="text/template")
      |<section>
      |<h1>Pedir compra</h1>
      |<form role="form" class="form-inline">
      |  <div class="form-group">
      |    <input type="text" class="form-control" id="new_item_person" placeholder="Nombre">
      |  </div>
      |  <div class="form-group">
      |    <input type="text" class="form-control" id="new_item_product" placeholder="Producto">
      |  </div>
      |  <input type="submit" value="Comprenme esto!" class="btn btn-default">
      |</form>
      |<hr>
      |</section>    

    script#items_template(type="text/template")
      |<h1>Pedidos</h1>

    script#item_view(type="text/template")
      |<h2 class="col-md-2"><%= item.get('name') %></h2>
      |<h3 class="col-md-4"><%= item.get('product') %></h3>

    script#menu_view(type="text/template")
      |<div class="col-md-1"><a href="/" id="solicitante">Solicitante</a></div>
      |<div class="col-md-1"><a href="/comprador" id="comprador">Comprador</a></div>

  body
    script
      var dataItems = !{data}
    .container
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="js/buy_me_sth.js")
    script(type="text/javascript", src="js/models/item.js")
    script(type="text/javascript", src="js/collections/items.js")
    script(type="text/javascript", src="js/views/items/item.js")
    script(type="text/javascript", src="js/views/items/index.js")
    script(type="text/javascript", src="js/views/items/new.js")
    script(type="text/javascript", src="js/views/buyer_view.js")
    script(type="text/javascript", src="js/views/requestor_view.js")
    script(type="text/javascript", src="js/views/menu_view.js")
    script(type="text/javascript", src="js/views/app_view.js")
    script(type="text/javascript", src="js/routers/items_router.js")
